:root {
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --header-primary: #fff;
    --background-tertiary: #202225;
    --channels-default: #8e9297;
    --depricated-text-input-bg: rgba(0,0,0,0.1);
    --depricated-text-input-border: rgba(0,0,0,0.3);
    --background-mobile-primary: #36393f;
    --highlight: #7289da;
    --error: #f04747;
}

body {
    background-color: var(--background-tertiary);
    font-family: 
        Whitney, "Apple SD Gothic Neo", NanumBarunGothic, "맑은 고딕", "Malgun Gothic", 
        Gulim, 굴림, Dotum, 돋움, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.message {
    display: block;
    min-height: 20px;
    padding-bottom: 2px;
    padding-left: 72px;
    padding-right: 48px;
    padding-top: 2px;
    position: relative;
}

div.content {
    position: static;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

div.messageContent {
    color: var(--text-normal);
    font-size: 16px;
    margin-left: -72px;
    padding-left: 72px;
    margin-top: 2px;
    margin-bottom: 2px;
}

h2.header {
    font-weight: 400;
    line-height: 22px;
    min-height: 22px;
    overflow: hidden;
    position: relative;
    white-space: break-spaces;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}

form.login-form {
    color: #72767d;
    background: var(--background-mobile-primary);
    padding: 32px;
    font-size: 18px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
}

div.login-failed {
    color: var(--error);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

div.login-div {
    margin-bottom: 20px;
}

h5.label {
    color: var(--channels-default);
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
}

div.input-wrapper {
    display: flex;
    flex-direction: column;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

input.login-input {
    padding: 10px;
    margin: 0px;
    height: 40px;
    width: 100%;
    line-height: 18px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-normal);
    background-color: var(--depricated-text-input-bg);
    border: 1px solid var(--depricated-text-input-border);
    outline: none;
}

.login-input:focus {
    border-color: var(--highlight);
}

button {
    color: #fff;
    background-color: var(--highlight);
    font-size: 16px;
    line-height: 24px;
    min-height: 44px;
    border-width: 0px;
    border-radius: 3px;
    width: 100%;
}

div.guild-div {
    display: block;
    margin: 12px;
    background-color: var(--background-mobile-primary);
    padding: 6px;
    border-radius: 6px;
}

img.guild-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    vertical-align: middle;
}

a.guild-link {
    font-size: 24px;
    color: var(--text-normal);
    text-decoration: none;
}

span.guild-name {
    margin-left: 24px;
    display: inline-block;
    vertical-align: middle;
}

span.username {
    color: var(--header-primary);
    font-size: 16px;
}

span.timestamp {
    color: var(--text-muted);
    font-size: 12px;
    margin-left: 4px;
}

img.avatar {
    width: 40px;
    height: 40px;
    border: true;
    border-radius: 50%;
    left: 16px;
    top: 4px;
    z-index: 1;
    position: absolute;
    text-indent: -9999px;
    vertical-align: baseline;
}

img.attached {
    max-width: 100%;
    height: auto;
}