{% extends "base.html" %}
{% block body %}
<script src="{{ config.static.html_to_canvas }}"></script>
<script>
    function download_screenshot(){
        var node = document.querySelector("#screenshot").contentDocument.documentElement;
        var URL = window.URL || window.webkitURL || window;
        return html2canvas(node, width=node.scrollWidth, height=node.scrollHeight).then(
            canvas => {
                //{% if config.environ.debug %}
                    canvas.toBlob(
                        blob => {
                            var a = document.createElement("a");
                            a.href = URL.createObjectURL(blob);
                            a.download = "{{ config.app_configurations.default_download_filename }}";
                            a.click();
                        }
                    )
                //{% else %}
                    var data_uri = canvas.toDataURL("image/png", 1);
                    pywebview.api.download_screenshot(data_uri)
                //{% endif %}
            }
        )
    }
</script>
<div class="iframe-container">
    <iframe id="screenshot" class="screenshot" src="{{ screenshot }}"></iframe>
    <div style="display: block; margin: 8px;">
        <button onclick="Promise.resolve(download_screenshot())">Download Screenshot</button>
    </div>
</div>
{% endblock %}