{% extends "base.html" %}
{% block body %}
<div class="iframe-container">
    {% for category in categories %}
        {% if category.id == "" %}
            <div style="height: 16px;"></div>
        {% else %}
            <div class="channel-category">
                <h2 class="category-name">
                    {{ category.name }}
                </h2>
            </div>
        {% endif %}
        {% for child in category.children %}
            <a href="/channels/{{ child.id }}" style="text-decoration: none;">
                <div class="channel-wrapper">
                    <div class="text-channel">
                        <div class="channel-name">
                            {{ child.name }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endfor %}
    <div style="display: flex; margin: 8px; position: absolute; bottom: 0; width: -webkit-fill-available;">
        <button onclick="location.href='/home'" style="display: inline;">Back</button>
        <span style="width: 20px;"></span>
        <button onclick="location.href=location.href" style="display: inline;">Refresh</button>
    </div>
</div>
{% endblock %}