{% extends "base.html" %}
{% block body %}
    <div class="center">
        <script>
            function loading1() {
                document.getElementById('loading-1').setAttribute('style', 'visibility: visible;');
                setTimeout(loading2, 1000);
            }

            function loading2() {
                document.getElementById('loading-2').setAttribute('style', 'visibility: visible;');
                setTimeout(loading3, 1000);
            }

            function loading3() {
                document.getElementById('loading-3').setAttribute('style', 'visibility: visible;');
                setTimeout(loading0, 1000);
            }

            function loading0() {
                document.getElementById('loading-1').setAttribute('style', '');
                document.getElementById('loading-2').setAttribute('style', '');
                document.getElementById('loading-3').setAttribute('style', '');
                setTimeout(loading1, 1000);
            }
        </script>
        <form class="login-form" action="/login" method="POST" onsubmit="loading1()">
            {% if login_failed %}
                <div class="login-failed">
                    로그인에 실패했습니다. 다시 로그인해 주세요.
                </div>
            {% endif %}
            <div class="login-div">
                <h5 class="label">이메일</h5>
                <div class="input-wrapper">
                    <input class="login-input" type="text" name="email" required />
                </div>
            </div>
            <div class="login-div">
                <h5 class="label">패스워드</h5>
                <div class="input-wrapper">
                    <input class="login-input" type="password" name="password" required />
                </div>
            </div>
            <button type="submit">
                <div class="login-label">.</div>
                <div class="login-label">.</div>
                <div class="login-label">.</div>
                <div style="display: inline;">로그인</div>
                <div class="login-label" id="loading-1">.</div>
                <div class="login-label" id="loading-2">.</div>
                <div class="login-label" id="loading-3">.</div>
            </button>
        </form>
    </div>
{% endblock %}